/* .Article { */
/*     user-select: none; */
/* } */

.Article {
  width: 111%;
}

.Article figcaption {
  font-size: 1.5em;
}

/* .Article p code { */
/*   color: inherit; */
/*   font-weight: bold; */
/*   font-family: "APL386"; */
/* } */

/* .Article code{ */
/*   font-family: "APL386"; */
/* } */

.Articel>caption {
    display: table-caption;
    text-align: -webkit-center
}

.Article>thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit
}

.Article>tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit
}

.Article>tfoot {
    display: table-footer-group;
    vertical-align: middle;
    border-color: inherit
}

.Articel>table > tr {
    vertical-align: middle;
}

.Article>col {
    display: table-column
}

.Article>colgroup {
    display: table-column-group
}

.Article>tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.Article tr>td {
    color: black;
    font-weight: bold;
    border: 3px solid black;
    padding: 5px;
}

.Article>td, th {
    display: table-cell;
    vertical-align: inherit;
}


.Article>th {
    font-weight: bold;
}

.Article>table {
    display: table;
    font-family: "APL386";
    font-size: 1.2em;
    border: 3px solid black;
    /* border-collapse: separate; */
    /* border-spacing: 20px; */
    /* border-color: black; */
}


.Article>pre {
  border-left-color: LightCoral;
  border-left-width: 4px;
  border-left-style: solid;
}

/* ------------ responsive ------------------- */

/* ----------- laptop ----------- */
@media screen and (min-width: 1025px) {
.source-list {
  fontSize: 1.5em;
  wordBreak: "break-all";
}

.Article>p {
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: -0.00em;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  text-align: justify;
}

.Article>pre {
  background: White;
  font-size: 1.1em;
  color: black;
  line-height: 1.5rem;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.Article>ul {
  font-size: 1.4em;
  color: black;
}

.Article>ol {
  font-size: 1.4em;
  color: black;
}

/*
 * Headers
 * h1, h2 are too big for articles.
 * here they are adjusted to the same size as h3.
 * */
.Article>h1,h2 {
  color: black;
  font-weight: bold;
  font-size: 2.1em;
  line-height: 1em;
  letter-spacing: 0.0em;
}

/* Article title should use h3 */
.Article>h3,h4 {
  color: black;
  font-size: 1.6em;
  font-weight: bold;
  line-height: 1em;
  letter-spacing: 0.0em;
}

.Article>h5,h6 {
  font-weight: bold;
  font-size: 1.3em;
  color: black;
  letter-spacing: 0.0em;
}

.Article a {
  color: LightCoral;
  letter-spacing: 0.0em;
}

.Article>col {
    display: table-column
}

.Article>colgroup {
    display: table-column-group
}
}

/* ----------- mobile ----------- */
@media screen and (max-width: 1024px) {
.Article>p {
  font-size: 1.3rem;
  line-height: 1.8rem;
  letter-spacing: 0.00em;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  text-align: justify;

  hyphens: auto;
}

.Article>pre {
  background: White;
  font-size: 1.5em;
  color: black;
  line-height: 1.0rem;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.Article img {
  width: 100%;
}

.Article>ul {
  font-size: 1.6em;
  color: black;
}
.Article>ol {
  font-size: 1.6em;
  color: black;
}


/*
 * Headers
 * h1, h2 are too big for articles.
 * here they are adjusted to the same size as h3.
 * */
.Article>h1,h2 {
  color: black;
  font-weight: bold;
  font-size: 2.4em;
  line-height: 1em;
  letter-spacing: 0.0em;
}


/* Article title should use h3 */
.Article>h3,h4 {
  color: black;
  font-size: 2.1em;
  font-weight: bold;
  line-height: 1em;
  letter-spacing: 0.0em;
}

.Article>h5,h6 {
  font-size: 1.2em;
  color: black;
  letter-spacing: 0.0em;
}

.Article a {
  color: LightCoral;
  letter-spacing: 0.0em;
}
}


/* ----------- mobile small ----------- */
@media screen and (max-width: 570px) {
.Article>p {
  font-size: 0.8rem;
  line-height: 1.3em;
}

.Article>pre {
  background: White;
  font-size: 1.0em;
  color: black;
  line-height: 1.0rem;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 3em;
  padding-bottom: 3em;
}


.source-list {
  fontSize: 0.7em;
  wordBreak: "break-all";
}

.Article>h3,h4 {
  font-weight: bold;
  font-size: 1.5em;
  color: black;
  letter-spacing: 0.0em;
}

.Article table {
  font-size: 0.8em;
}

.Article>h5,h6 {
  font-weight: bold;
  font-size: 1.2em;
  color: black;
  letter-spacing: 0.06em;
}

.Article>ul {
  font-size: 1em;
  color: black;
}
.Article>ol {
  font-size: 1em;
  color: black;
}


}
