/* .Article { */
/*     user-select: none; */
/* } */

.Article>pre {
  background: White;
}

.Article>pre {
  font-size: 1.1em;
  color: black;
  line-height: 1.4rem;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 3em;
  padding-bottom: 3em;
}



.Article>p {
  color: black;
}
.Article figcaption {
  font-size: 1.5em;
}

.Article {
  width: 111%;
}
.Article p code {
  color: inherit;
  font-weight: bold;
  font-family: "APL386";
}

.Article code{
  font-family: "APL386";
}
.Articel>caption {
    display: table-caption;
    text-align: -webkit-center
}


.Article>thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit
}

.Article>tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit
}

.Article>tfoot {
    display: table-footer-group;
    vertical-align: middle;
    border-color: inherit
}

.Articel>table > tr {
    vertical-align: middle;
}

.Article>col {
    display: table-column
}

.Article>colgroup {
    display: table-column-group
}

.Article>tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.Article tr>td {
    color: black;
    font-weight: bold;
    border: 3px solid DimGray;
    padding: 5px;
}

.Article>td, th {
    display: table-cell;
    vertical-align: inherit;
}


.Article>th {
    font-weight: bold;
}

.Article>table {
    display: table;
    font-family: "APL386";
    font-size: 1.2em;
    border: 3px solid DimGray;
    /* border-collapse: separate; */
    /* border-spacing: 20px; */
    /* border-color: DimGray; */
}
/* laptop */
@media screen and (min-width: 1000px) {
.source-list {
  fontSize: 1.5em;
  wordBreak: "break-all";
}

.Article>p {
  font-size: 1.4rem;
  line-height: 2.0rem;
  letter-spacing: 0em;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  text-align: justify;
}

.Article>ul {
  font-size: 1.2em;
  color: black;
}

.Article>ol {
  font-size: 1.4em;
  color: black;
}

/*
 * Headers
 * h1, h2 are too big for articles.
 * here they are adjusted to the same size as h3.
 * */
.Article>h1 {
  color: DimGray;
  font-weight: bolder;
  font-size: 2.4em;
  line-height: 1em;
  letter-spacing: 0.0em;
}

.Article>h2 {
  color: DimGray;
  font-weight: bolder;
  font-size: 2.4em;
  line-height: 1em;
  letter-spacing: 0.0em;
  text-align: center;
}


/* Article title should use h3 */
.Article>h3 {
  color: DimGray;
  font-size: 2.1em;
  font-weight: bolder;
  line-height: 1em;
  letter-spacing: 0.0em;
}

.Article>h4 {
  color: DimGray;
  font-size: 2.1em;
  font-weight: bolder;
  letter-spacing: 0.0em;
}


.Article>h5 {
  font-weight: bolder;
  font-size: 1.8em;
  color: DimGray;
  letter-spacing: 0.0em;
}


.Article>h6 {
  font-size: 1.5em;
  color: DimGray;
  letter-spacing: 0.0em;
}

.Article a {
  color: LightCoral;
  letter-spacing: 0.0em;
}

.Article>col {
    display: table-column
}

.Article>colgroup {
    display: table-column-group
}
}

/* mobile */
@media screen and (max-width: 999px) {
.Article>p {
  font-size: 1rem;
  line-height: 1.8rem;
  letter-spacing: 0.0em;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  text-align: justify;

  hyphens: auto;
}

.Article img {
  width: 100%;
}

.Article>ul {
  font-size: 1.2em;
  color: black;
}
.Article>ol {
  font-size: 1.4em;
  color: black;
}


/*
 * Headers
 * h1, h2 are too big for articles.
 * here they are adjusted to the same size as h3.
 * */
.Article>h1 {
  color: DimGray;
  font-weight: bold;
  font-size: 2.4em;
  line-height: 1em;
  letter-spacing: 0.0em;
}

.Article>h2 {
  color: DimGray;
  font-weight: bold;
  font-size: 2.4em;
  line-height: 1em;
  letter-spacing: 0.0em;
}


/* Article title should use h3 */
.Article>h3 {
  color: DimGray;
  font-size: 2.1em;
  font-weight: bold;
  line-height: 1em;
  text-align: center;
  letter-spacing: 0.0em;
}

.Article>h4 {
  color: DimGray;
  font-weight: bold;
  font-size: 2.1em;
  font-size: 2em;
  letter-spacing: 0.02em;
}


.Article>h5 {
  font-weight: bold;
  font-size: 1.8em;
  color: DimGray;
  letter-spacing: 0.02em;
}


.Article>h6 {
  font-size: 1.2em;
  color: DimGray;
  letter-spacing: 0.02em;
}

.Article a {
  color: LightCoral;
  letter-spacing: 0.02em;
}
}

/* @media screen and (max-width: 999px) { */
/* .Article>p { */
/*   font-size: 1.2rem; */
/*   line-height: 1.3em; */
/* } */
/* } */

@media screen and (max-width: 570px) {
.Article>p {
  font-size: 0.8rem;
  line-height: 1.3em;
}

.source-list {
  fontSize: 0.7em;
  wordBreak: "break-all";
}

.Article>h3,h4 {
  font-weight: bold;
  font-size: 1.5em;
  color: DimGray;
  letter-spacing: 0.06em;
}

.Article table {
  font-size: 0.8em;
}

.Article>h5,h6 {
  font-weight: bold;
  font-size: 1.2em;
  color: DimGray;
  letter-spacing: 0.06em;
}


}
