@media screen and (min-width: 1000px) {
.header-simple-main {
  height: 160px;
}
}

@media screen and (max-width: 999px) {
.header-simple-main {
  height: 180px;
}

#header-simple-separator-1 {
  width: 80%;
}
}

#header-simple-title-text {
  color: LightCoral;
  font-weight: bolder;
  user-select: none;
}

.header-simple-text {
  margin-left: 10px;
  margin-top: 40px;
  font-family: Serif;
  font-weight: bolder;
  cursor: pointer;
  text-decoration: none;
}

@media screen and (min-width: 281px) {
.header-simple-navbar {
  margin-left: 50px;
}
}

@media screen and (max-width: 280px) {
.header-simple-navbar {
  margin-left: 20px;
}
}


.header-simple-info {
  color: DimGray;
  cursor: pointer;
  text-decoration: none;
  margin-right: 15px;
  user-select: none;
}

#header-simple-separator-1 {
  background-color: LightCoral;
  border: none;
  height: 5px;
}


.header-simple-avatar {
  user-select: none;
  border-radius: 100%;
  border: white solid 5px;
  margin-right: 10px;
}
