.list-main {
  z-index: 100;
  position: absolute;
  height: 100%;
  background: white;
}

@media screen and (max-width: 999px) {
.item-row-title p {
  text-align: center;
  vertical-align: baseline;
}
}

