
@media screen and (max-width: 999px) {
.page-body {
  width: 100%;
}
}

@media screen and (min-width: 1000px) {
.page-body {
  width: 50%;
}
}

.page-tag-page-h3 {
  color: black;
  font-weight: bold;
  margin-left: 30;
  margin-bottom: 40;
}

.page-tags-tag {
  font-size: 1.3rem;

}

.page-tags-main {
  padding-left: 40;
  padding-right: 100;
}
