.page-tag-page-h3 {
  color: DimGray;
  font-weight: bold;
  margin-left: 30;
  margin-bottom: 40;
}

.page-tags-tag {
  font-size: 1.3rem;

}

.page-tags-main {
  padding-left: 40;
  padding-right: 100;
}
