/* @deprecated */
@media screen and (min-width: 1025px) {
  .sidebar-main {
    top: 0;
    right: -20%;
    position: fixed;
    z-index: 10;
    background: WhiteSmoke;
    padding-top: 140px;
    height: 100%;
    width: 20%;
  }

  .sidebar-tab-main {
    user-select: none;
    margin-top: 10px;
    margin-left: 60px;
    margin-bottom: 10px;
    font-size: 25px;
  }
}

@media screen and (max-width: 1025px) {
  .sidebar-main  {
    margin-left: -60px;
    visibility: hidden;
    height: 0px;
  }

  .sidebar-tab-main {
    user-select: none;
    margin-top: 10px;
    margin-left: 90px;
    margin-bottom: 10px;
    font-size: 20px;
  }

  .header-sidebar-slidein {
    visibility: visible !important;
    height: 100%;
  }

  .header-sidebar-slideout {
    visibility: hidden !important;
    height: 0px !important;
  }
}

.header-sidebar-slidein {
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  animation-name: header-sidebar-slidein;
}

@keyframes header-sidebar-slidein {
  from {
    visibility: visible;
    right: -20%;
  }
  to {
    visibility: visible;
    right: 0%;
  }
}

.header-sidebar-slideout {
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  animation-name: header-sidebar-slideout;
}

@keyframes header-sidebar-slideout {
  from {
    right: 0%;
    visibility: visible;
  }
  50% {
    right: -10%;
  }
  to {
    right: -20%;
    visibility: visible;
  }
}
